
/* ----- ----- 
  GLOBAL STYLES 
  ----- ----- */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ----- -----  
  COMPONENT STYLES
  ----- ----- */

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  background-color: #323232;
  color: rgba(245, 245, 245, 0.611);
  margin-top: 0;
  margin-bottom: 0;
  padding: .3em;
}

.navbar p {
  font-size: .75em;
}

.holiday-shop {
  background-color: #e34140;
  color: #fff;
  margin-top: 0;
  padding: .3em;
  font-size: .9em;
}
